@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  scroll-behavior: smooth;
  width: 1440px;
  margin: auto;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0 auto;
}

/* ************************************************************************ */
/* ********************************HEADER********************************** */
/* ************************************************************************ */
.navTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 1150px;
  margin: 0 auto;
}

.leftNav {
  width: 1000px;
  height: 80px;
  display: flex;
}
.logoMain {
  height: 20px;
  width: 140px;
  margin-top: 15px;
}

.navItems {
  display: flex;
  list-style-type: none;
  
}

.navItems>li:hover {
  cursor: pointer;
  border-bottom: 4px solid hsl(26, 100%, 55%);
  padding-bottom: 50px;
}

nav li {
  margin: 5px 15px;
  color: hsl(219, 9%, 45%);
}

.rightNav {
  width: 40%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.caddie {
  height: 20px;
  margin: 20px 10px;
}

.avatar {
  height: 50px;
  margin: 5px 40px;
  border: 2px solid transparent;
  border-radius: 50% 50%;
}
.avatar:hover {
  border: 2px solid hsl(26, 100%, 55%);
  
}

.ligneNav {
  height: 1px;
  width: 1150px;
  background-color: hsl(220, 14%, 75%);
  margin: 0 auto;
  opacity: 0.6;
}

/* **************************** partie centrale ************************************** */

/* ---------- PARTIE GAUCHE - PHOTOS------------ */

.partieCentre {
  height: 1200px;
  width: 1150px;
  margin: 20px auto;
  display: flex;
}

.photosGauche {
  height: 600px;
  width: 800px;
  margin: 60px auto;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

 #div-photo{
  height: 450px;
  width: 450px;
  margin: 10px auto;
  margin-bottom: 20px;
  border-radius: 15px 15px; 
  background-image: url(images/image-product-1.jpg);
  background-size: cover; 
  cursor: pointer;  
}

.grandePhoto {
  height: 450px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px 15px;
  cursor:pointer;

}

#picto{
  height: 125px;
  width: 550px;
  
}

.photoMini {
  display: flex;
  height: 100px;
  width: 450px;
  margin: 5px auto;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

.thumbNail {
list-style-type: none;
}

.thumbNail:hover {
  cursor: pointer;
}

.miniature {
  height: 85px;
  width: 87px;
  border-radius: 10px 10px;
  margin: 0 18px;
}

.miniature:hover {
  opacity:0.7;
}


#picto1 {
  background-image: url(images/image-product-1-thumbnail.jpg);
  background-size: cover;
  background-position: center;
}
#picto2 {
  background-image: url(images/image-product-2-thumbnail.jpg);
  background-size: cover;
  background-position: center;
}
#picto3 {
  background-image: url(images/image-product-3-thumbnail.jpg);
  background-size: cover;
  background-position: center;
}
#picto4 {
  background-image: url(images/image-product-4-thumbnail.jpg);
  background-size: cover;
  background-position: center;
}

.selected {
  border: 2px solid hsl(26, 100%, 55%);
  opacity: 0.4;
}



/* ********************************************************************** */
/* ********************************MODALE******************************** */
/* ********************************************************************** */

#modale{
  display: none
}

#modale.show{
  display:initial;
}

.modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(7, 7, 7, 0.8);
}

.close {
  position: absolute;
  top: 5%;
  right: 15%;
  color: hsl(26, 100%, 55%);
  font-size: 3em;
  align-self: center;
  margin-right: 30px;
  cursor: pointer;
  
  
}



.modal-content{
  position: relative;
  margin: 12% auto;
  border-radius: 15px 15px;
  width: 550px;
  height: 550px;
  border: 1px solid white;
  
}

#modalPhoto {
  width: 550px;
  height: 550px;
  background-image: url(images/image-product-1.jpg);
  background-size: cover;
  border-radius: 15px 15px;
 
}

.grandePhotoM {
  height: 550px;
  width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 15px 15px;

}


#pictoModale {
  width: 650px;
  height : 110px;
  position: relative;
  top: -80px;
  margin: 10px auto;
  
}

.photoMiniM {
  display: flex;
  height: 100px;
  width: 600px;
  justify-content: space-between;
  align-items: center;
  
}

.thumbNailM {
  list-style-type: none;
  
  }
  
  .thumbNailM:hover {
    cursor: pointer;
  }


  .selected2 {
    border: 2px solid hsl(26, 100%, 55%);
    opacity: 0.6;
  }















/* ********************************************************************** */
/* *****************************FIN MODALE******************************* */
/* ********************************************************************** */







/* ---------PARTIE DROITE DESCRIPTION PRODUIT------- */

.partieDroite {
  height: 600px;
  width: 450px;
  margin: 45px auto;
  padding: 30px;
  margin-right: 60px;
  margin-left: 10px;
}

h4 {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 55px;
}

h1 {
  font-size: 42px;
  margin-top: 20px;
}

p {
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  width: 450px;
  line-height: 25px;
}

.prixArticle {
  height: 50px;
  width: 450px;
  display: flex;
  justify-items: flex-start;
}

h2 {
  font-size: 28px;
  font-weight: 900;
  height: 35px;
  margin-top: 10px;
}

.reduction {
  height: 25px;
  width: 45px;
  margin-top: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  border-radius: 4px 4px;
  background-color: hsl(25, 100%, 94%);
}
.pourcentage {
  height: 30px;
  width: 40px;
  margin: 5px auto;
  color: hsl(26, 100%, 55%);
  font-weight: 900;
}

.prixBarre {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  font-weight: 900;
  margin-top: 6px;
}

/* -----------zone achat client ----------------- */
.boutonsAchat {
  display: flex;
  height: 60px;
  width: 450px;
}

/* ----------case compteur click ----------------- */
.selecteurNombre {
  height: 55px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 25px;
  border-radius: 10px 10px;
  background-color: hsl(223, 64%, 98%);
  margin-top: 30px;
  margin-right: 9px;
}

.decrement {
  height: 30px;
  width: 20px;
  margin-bottom: 10px;
  color: hsl(26, 100%, 55%);
  font-size: 30px;
  font-weight: 900;
  margin-left: 10px;
}

.decrement:hover {
  cursor:pointer;
}

.center {
  height: 20px;
  width: 20px;
  font-size: 18px;
}

.increment {
  height: 30px;
  width: 20px;
  margin-bottom: 5px;
  color: hsl(26, 100%, 55%);
  font-size: 26px;
  font-weight: 900;
  margin-right: 10px;
}

.increment:hover {
  cursor:pointer;
}

.ajoutPanier {
  border: 1px solid orange;
  display: flex;
  height: 55px;
  width: 270px;
  margin: 30px auto;
  border-radius: 10px 10px;
  background-color: hsl(26, 100%, 55%);
  align-items: center;
  justify-content: center;
}
.ajoutPanier:hover {
  cursor: pointer;
}

.caddieCard {
  height: 25px;
  width: 6px;
  margin-right: 20px;
  transform: scale(0.9);
}

.addCard {
  height: 20px;
  width: 90px;
  color: hsl(25, 100%, 94%);
  margin-left: 20px;
  font-weight: 900;
}
